<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>TypeScript Lesson</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
